SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too

WAHA_BASE_URL=http://127.0.0.1:3000
WAHA_API_KEY=arisdev09
WAHA_SESSION=default

# Mode docker-compose.yml bridge:
OLLAMA_BASE_URL=http://host.docker.internal:11434
# Mode docker-compose.hostnet.yml:
# OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.1

RELAY_SERVER_URL=ws://streamdeck.arisdev.my.id/ws
RELAY_TOKEN=@arisdev09
RELAY_BACKEND_DEVICE_ID=backend-waha-ai
RELAY_FLUTTER_TARGET_DEVICE_ID=phone-aris

# Set true sekali saja kalau database lama masih menyimpan setting localhost.
SYNC_ENV_SETTINGS_ON_BOOT=false
