FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=sqlite:///whatsapp_ai.db
HOST=0.0.0.0
PORT=5000
WAHA_BASE_URL=http://127.0.0.1:3000
WAHA_API_KEY=arisdev09
WAHA_SESSION=default
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.1
RELAY_SERVER_URL=ws://streamdeck.arisdev.my.id/ws
RELAY_TOKEN=@arisdev09
RELAY_BACKEND_DEVICE_ID=backend-waha-ai
RELAY_FLUTTER_TARGET_DEVICE_ID=phone-aris
SYNC_ENV_SETTINGS_ON_BOOT=false
